<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteDemo" parallel="false">
<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg" />
  </listeners>
  <test name="Test">
  <parameter name="navegador" value="chrome"/>
    <classes>
      <class name="com.grupopromerica.demoqa.tests.ContactUsTest"/>
      <class name="com.grupopromerica.demoqa.tests.PromocionesYDescuentosTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
